<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.silence.rootfeature">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission-sdk-23>
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission-sdk-23>
    <!--<application-->
    <!--android:name="com.silence.rootfeature.app.MobileApplication"-->
    <!--android:allowBackup="true"-->
    <!--android:label="@string/app_name"-->
    <!--android:supportsRtl="true">-->
        <!--<activity android:name=".base.BaseActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
    <!--</application>-->
</manifest>